/* Vytořím si root, kdybych chtěl dělat zmeny barev apod. */
:root {
  --primary-color: #4a148c; /* Tohle bude hlavní-dominující */
  --text-color: #333;
  --bg-color: #e8eaf6; /* tročku šedé pro kontrast */
  --cv-color: white; 
  --border-color: #d1c4e9;
  --padding-unit: 15px;
}

body {
  font-family: 'Verdana', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 30px; /* Větší vnitřní odsazení */
  background-color: var(--bg-color); 
  color: var(--text-color);
  
  /* Nastavím si velikost, ve které budu pracovat*/
  width: 650px; 
  margin: 30px auto; 
  
  background-color: var(--cv-color);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /*ohraničení stránky*/
  border-radius: 12px; 
}
#profilka {
  width: 130px;
  height: 130px;
  border-radius: 10%;
  object-fit: cover;
  margin-top: 60px;
  float: right;
  /* zatím neumím flex box, takže tohle je jediné obtékání textu */
}
ul {
  list-style: none;   
  padding-left: 0;
  /* Nechci zde tečky */
}

/* --- 2. Hlavička a oddělovače --- */

.cv-hlavicka {
  text-align: center;
  margin-bottom: 25px;
  padding-bottom: 15px;
  /* Výrazný oddělovač */
  border-bottom: 3px solid var(--primary-color); 
}

.cv-hlavicka h1 {
  color: var(--primary-color);
  margin: 0;
  font-size: 2.4em; /* Mírně větší jméno, zkusím jednotku */
}

.job-title {
  margin-top: 5px;
  font-weight: bold;
  color: #6a1b9a; 
  font-size: 1.1em;
}

.section h2 {
  color: var(--primary-color);
  /* Čistší oddělovač pod nadpisem sekce */
  border-bottom: 1px solid var(--border-color); 
  padding-bottom: 5px;
  margin-top: 0;
  margin-bottom: var(--padding-unit);
}


.projekty h3 {
  margin: 5px;
  color: var(--text-color);
  font-size: 1.1em;
}

.datumy {
  font-style: italic;
  font-size: 0.9em;
  color: #777;
  margin-bottom: 10px;
}

/* Skills */
.skills-list {
  font-size: 0; 
}

.skills-list li {
  display: inline-block; 
  background-color: var(--primary-color);
  color: white;
  padding: 5px 12px;
  border-radius: 20px; 
  font-size: 14px; 
  margin-right: 10px; 
  margin-bottom: 10px; 
  text-transform: uppercase;
}

.skills-list li:hover {
  background-color: #6a1b9a; /* Efekt při najetí myši */
}