body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h1{
    text-align: center;
    font-size: 5.5em;
    text-decoration: underline;
}
.Fotka{
      width: 220px;          /* šířka obrázku */
  height: 280px;         /* výška obrázku */
  border-radius: 12px;   /* zaoblení rohů */
  object-fit: cover;     /* ořízne fotku, aby vyplnila rám */
  display: block;
  margin: 2px auto 10px 10px
}
.o-mne {
  display: flex;              /* aktivuje flexbox */
  align-items: right;        /* svislé zarovnání fotky a textu */
  gap: 20px;                  /* mezera mezi fotkou a textem */
  margin-bottom: 30px;        /* odsazení od dalších sekcí */
}
#osobni-udaje {
padding-left: 30px;
font-size: 28px;

} 
.horni-blok {
  background-color: rgb(75, 162, 233);
  border-radius: 12px;